﻿*{
    font-family: 'Bungee', cursive !important;
}
body{
    background-color: #e9ece5 !important;
    padding-top: 0px;
}
table, th, td {
    border: 1px solid black;
}
.navbar-brand{
    font-size: 25px !important;
    font-weight: 600;
    color: #e9ece5 !important;
    padding-left: 20px;
}

a.navbar-brand {
    padding: 15px;
    margin-top: 15px;
}
    
div.navbar{
    background-color: #3b3a36;
    border: none;
}

.menu-bar{
    font-size: 25px;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 10px;
}

.body-content{
    margin-top: 15px;
}
.menu-bar ul li a{
    font-size: 25px !important;
    color: #e9ece5 !important;
    font-weight: 600;
}

.navbar-right li{
    color: black !important;
}
a:hover{
    background-color: white !important;
}
.navbar li {
    padding: 15px;
}

.jumbotron{
    margin-top: 10vh;
}

.container{
    margin-top: 5vh;
}

.left-column{
    background-color: #b3c2bf !important;
    border-radius: 10px;
    height: 600px !important;
}

.right-column{
    margin-left: 10px;
    background-color: #b3c2bf !important;
    border-radius: 10px;
    height: 600px;
}

.left-column-content{
    background-color: red !important;
    padding: -10px;    
}

.black-bar{
    background-color: #3b3a36 !important;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;   
}

.black-bar h2{
    text-align: center;
    padding-bottom: 30px;
    color: #e9ece5;
}

.col-type-small{

}
.p-special{
    display: inline;
    padding-top: 5px;
    margin: 0px !important;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.kontent-menu{
    list-style-type: square;
    padding: 0;
}

.kontent-menu li{
    padding: 5px;
    display: block;
}

.h5-special{
    font-size: 15px;
    font-weight: 600;
}

.kontent-menu2{
    padding: 0px;
    margin: 15px;
}

.kontent-menu2 li{
    padding-top: 25px;
    padding-bottom: 20px;
    display: block;
}

.button-type-1{
    color: black;    
    background-color: #e9ece5;
    font-weight: 600;
    padding-top:0px;
    width: 175px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.test{
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.test2{
    font-weight: 600;
    font-size: 15px;
    color: black;
    padding-top: 0px;
    margin-top: 15px;
}

table{
    width: 100%;
    border-radius: 15px;
}

table th{
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3b3a36;
    color: #e9ece5;
}


table td{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b3c2bf;
    font-weight: 600;
}

.tabelowo{
    margin: 20px 0px 20px -30px !important;
}

li span{
    padding-right:30px;
}

.btn-info{
    width: 50% !important;
    background-color: #3b3a36 !important;
    border: none !important;
}

.para-special{
    font-weight: 600;

}

.server-image-description {
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
    padding-left: 20px;
    padding-bottom: 20px;  
}

.group-panel-custom{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #b3c2bf !important;
    border-radius: 10px;
    height: 200px;
    padding-top: 15px;
}

.black-bar2{
    background-color: #3b3a36 !important;
    padding-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px; 
}

.black-bar2 h2{
    text-align: center;
    padding-bottom: 30px;
    color: #e9ece5;
}

.lower-column{
    height: 25px;
    margin-bottom: 10px;
}

.lower-column input{ 
    width:350px; 
    margin-right: 50px;
}

.lower-column button{
    width:350px; 
    height: 25px;
    margin-right: 50px;
    color: white;
}

.lower-column select{
    width:350px; 
    margin-right: 50px;
}

.gallery-image{
    width: 350px;
    height: 200px;
    align-content: center;
   
}