body {
  background: #eceeef; }

button:hover {
  cursor: pointer; }

.card {
  margin-bottom: 25px; }

.card.media-gallery img.img-thumbnail {
  margin: 5px; }

.dropzone {
  border: 2px dotted #dedede; }
