﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/dropzone.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="sticky-top mb-5">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Serwerownia Bobusia</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Końcówki", "Index", "Endpoints", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Grupy", "Index", "Groups", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Media", "Index", "Media", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Playlisty", "Index", "Playlists", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="mb-5">
        @RenderBody()
    </main>
    <footer>
        <div class="navbar navbar-inverse bg-inverse">
            <a href="#">Serwerownia Bobusia &copy; 2017</a>
        </div>
    </footer>

    @Scripts.Render("~/Content/js/jquery.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/dropzone.js")
    @RenderSection("scripts", required: false)
</body>
</html>
