﻿@model IEnumerable<ServerMVCApplication.Models.Endpoint>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Serwerownia Bobusia!</h1>
        <p class="lead">To tutaj kończy się internet i zakrzywia czasoprzestrzeń. Czas nie ucieka, a lata nie lecą. Nie starzejemy się przeglądając głupoty.</p>
        <p class="lead">"Program, który został użyty do tego modułu jest to przykładowy program do testu złożonego modułu który w pełni spełnia moje wymagania modułu." ~Czips </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Usuń Google</a>
        </p>
    </div>
    <div class="card mb-5">
        <div class="card-header">Active endpoints (clients)</div>
        <div class="card-block">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>ConnectionID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GroupID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConnectionID)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Groups</div>
        <div class="card-block">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Scheduled</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>TwBootstrap</td>
                        <td>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>