﻿@model List<ServerMVCApplication.Models.User>
@{
    ViewBag.Title = "Serwer";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ASP.NET SignalR Stock Ticker</title>
    <link href="https://fonts.google.com/specimen/Bungee?selection.family=Bungee" rel="stylesheet" />
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/group-script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", loadGroups);
    </script>

</head>
<body>
    <div class="container" id="mainRow">
        <div class="row">
            <div class="col-lg-5 left-column col-lg-offset-1">
                <div class="container-fluid black-bar">
                    <h2>Panel sterowania krańcówkami</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul style="list-style-type: none;">
                            <li>
                                <span>
                                    <p class="p-special">Dane krańcówki</p>
                                </span>
                                <span style="padding-left: 85px;">
                                    <p class="p-special">Akcja</p>
                                </span>
                            </li>
                        </ul>


                        <ul class="kontent-menu">
                            <li>
                                <span>
                                    <p class="para-special">Nowa nazwa klienta</p>
                                    <input type="text" id="symbol_box" />
                                </span>
                                <span>
                                       <input type="button" class="btn btn-info" id="changeNameOfSpecificUserButton" value="Zmień nazwę klienta" />
                                </span>

                            <!--<input hidden type="button" id="refreshButton" value="Refresh" />-->
                            </li>

                            <li>
                                <span>
                                    <p class="para-special">ID klienta</p>
                                    <input type="text" id="HUB_ID_BOX" />
                                </span>
                                <span>
                                    <input type="button" class="btn btn-info" id="sendToSpecificUserButton" value="Wyślij do zaznaczonych" />
                                </span>

                            </li>
                            <li>
                                <span>
                                    <p class="para-special">Ścieżka materiału</p>
                                    <input type="text" id="PATH_SEND_BOX" />
                                </span>
                                <span>
                                    <input type="button" class="btn btn-info" id="sendToAllButton" value="Wyślij do wszystkich" />
                                </span>
                            </li>
                            <li>
                                <span>
                                    <p class="para-special">Wyślij do grupy</p>
                                    <select id="select-koncowka" style="width: 175px; height: 30px;"></select>
                                </span>
                                <span>
                                    <input type="button" class="btn btn-info" id="sendToGroup" value="Wyślij do wybranej grupy" />
                                </span>
                            </li>
                        </ul>
                            <!--<li><input hidden type="text" id="value_box" /></li>-->
                    </div>
                </div>

            </div>

            <div class="col-lg-5 right-column ">
                <div class="container-fluid black-bar">
                    <h2>Panel zarządzania zasobami</h2>
               </div>
                <div class="row"style="padding-bottom: 15px; margin-bottom: 15px; border-bottom: solid black;">
                    <div class="col-lg-12 " >
                        @using (Html.BeginForm("Index",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                        {
                            <label for="file" class="test">Pobierz obrazek:</label>
                            <input type="file" name="file" id="file" />
                                                <input type="submit" class="test2" value="Wrzuć na serwer" />
                                                @ViewBag.Message
                        }
                    </div>
                    
                </div>
                <div class="row black-bar" style="margin-left: 5px; margin-right: 5px;">
                    <div class="col-lg-12 ">
                        <h2>Podgląd galerii zasobów</h2>
                    </div> 
                </div>
                <div class="row" style="margin: 0 auto; text-align: center;">
                    <div class="col-lg-12">
                        <a href="Files" target="_blank">
                            <img src="~/Images/Koala.jpg" id="gallery-image" class="gallery-image" />
                        </a>
                        
                    </div>
                </div>
                    
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 group-panel-custom">
                    <div class="black-bar2">
                        <h2> Panel zarządzania grupami</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 lower-column">
                            <span>
                                <input type="text" id="group-name-test" value="Wpisz nazwę grupy..."/>
                            </span>
                            <span>
                                <input type="button" class="btn btn-info" value="Stwórz grupę" onclick="addGroup()" />
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 lower-column">
                            <span>
                                <!--<input type="text" id="group-name"/>-->
                                <select id="groups-selector">
                                    <option>Wybierz...</option>
                                </select>
                            </span>
                            <span>
                                <input type="button" class="btn btn-info" value="Usuń grupę" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tabelowo">
            <div class="col-md-11" style="position:relative; left: 15px;">
                <table id="tabela">
                    <tr>
                        <th><b>Name</b></th>
                        <th><b>ID</b></th>
                        <th><b>Grupa</b></th>
                        <th><b>Oznaczenie</b></th>
                    </tr>

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.clientName #1</td>
                            <td>@item.connectionId</td>
                            <td>
                                <select id="select-koncowka">

                                </select>
                            </td>
                            <td><input class="dupa" type="checkbox" value="" data-client-id="@item.connectionId"></td>

                        </tr>
                    }
                </table>
            </div>

        </div>

    </div>

        @section scripts {
            <!--Script references. -->
            <!--Reference the jQuery library. -->
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <!--Reference the SignalR library. -->
            <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
            <!--Reference the autogenerated SignalR hub script. -->
            <script src="~/signalr/hubs"></script>



            <script>
                $(function () {
                    // Start the connection.
                    var main_hub = $.connection.stockTickerHub;

                    //main_hub.client.addToList = function (connectionID) {
                    //    //THIS IS FOR REFRESHING THE LIST

                    //    // Html encode display name and message.
                    //    var encodedID = $('<div />').text(connectionID).html();
                    //    // Add the message to the page.
                    //     $('#tabela').append('<tr><td>' + encodedID + '</td><td>' + encodedID + '</td><td><input class="dupa" type="checkbox" value="" data-client-id="' + encodedID + '"></td></tr>');

                    //};

                   /* $('[data-client-id]').on('change', function (e) {
                        console.log($(this).attr('data-client-id'));
                        console.log($(this).prop('checked'));
                    }); */

                    $.connection.hub.start().done(function () {
                        $('#sendToAllButton').click(function () {
                            // Call the Send method on the hub.
                            main_hub.server.sendToAll($('#PATH_SEND_BOX').val());
                            // Clear text box and reset focus for next comment.
                            $('#PATH_SEND_BOX').val('').focus();
                        });

                        $('#sendToSpecificUserButton').click(function () {
                            // Call the Send method on the hub.
                            var dupsko = $.makeArray($('[data-client-id]')).reduce(function(ids, element) {
                                if($(element).prop('checked')) {
                                    ids.push($(element).attr('data-client-id'));
                                }
                                return ids;
                            }, []);

                            main_hub.server.sendToUserWithSpecificId(dupsko, $('#PATH_SEND_BOX').val());
                            $('#PATH_SEND_BOX').val('').focus();
                        });

                        $('#changeNameOfSpecificUserButton').click(function () {
                            // Call the Send method on the hub.
                            main_hub.server.changeNameOfSpecificUser($('#HUB_ID_BOX').val(), $('#symbol_box').val());
                            // Clear text box and reset focus for next comment.
                            $('#symbol_box').val('').focus();
                            $('#value_box').val('').focus();
                        });


                        $('#refreshButton').click(function () {
                            var dupa = main_hub.server.getConnectedIds();
                            console.log(dupa);
                        });

                    });
                });

                // This optional function html-encodes messages for display in the page.
                function htmlEncode(value) {
                    var encodedValue = $('<div />').text(value).html();
                    return encodedValue;
                }


            </script>
        }

</body>
</html>