﻿
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">Upload new media</div>
                <div class="card-block">
                    <form action="/file-upload" class="dropzone" id="upload-new-media">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card media-gallery">
                <div class="card-header">Media gallery</div>
                <div class="card-block">
                    <img src="http://lorempixel.com/235/235/abstract" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/city" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/people" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/sports" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/animals" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/transport" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/nightlife" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/fashion" alt="." class="img-thumbnail">
                    <img src="http://lorempixel.com/235/235/technics" alt="." class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">Global default media</div>
                <div class="card-block">
                    <img src="http://lorempixel.com/240/240/abstract" alt="." class="img-thumbnail">
                    <button class="btn btn-danger btn-block mt-2">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>

